<h1>Login</h1>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">User Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" [(ngModel)]="username" aria-describedby="emailHelp" placeholder="Enter Username">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password"  placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
<div class="msg">
  <h5 *ngIf='error'>{{showMsg}}</h5>
  <h5 *ngIf='!error'>{{showMsg}}</h5>
  </div>
</form>